Config (
    color_profiles: [
        (
            name: "Default",
            triggers: [],
            strip_profiles: [
                (device: "Commander PRO", channel: 0, indices: Range(0, 28), effect: "temperature_cool.ron"),
                (device: "Commander PRO", channel: 0, indices: Range(0, 28), effect: "rotation.ron"),
                (device: "Commander PRO", channel: 1, indices: Range(0, 12), effect: "temperature_cool.ron"),
                (device: "Commander PRO", channel: 1, indices: Range(0, 12), effect: "temperature_overlay.ron"),
                (device: "Lighting Node CORE", channel: 0, indices: Ranges([(10, 34), (44, 68), (78, 102)]), effect: "temperature_cool.ron"),
                (device: "Lighting Node CORE", channel: 0, indices: Ranges([(0, 10), (34, 44), (68, 78)]), effect: "gray.ron"),
                (device: "Lighting Node CORE", channel: 0, indices: Range(10, 22), effect: "rotation.ron"),
                (device: "Lighting Node CORE", channel: 0, indices: Range(22, 34), effect: "rotation2.ron"),
                (device: "Lighting Node CORE", channel: 0, indices: Range(44, 56), effect: "rotation.ron"),
                (device: "Lighting Node CORE", channel: 0, indices: Range(56, 68), effect: "rotation2.ron"),
                (device: "Lighting Node CORE", channel: 0, indices: Range(78, 90), effect: "rotation.ron"),
                (device: "Lighting Node CORE", channel: 0, indices: Range(90, 102), effect: "rotation2.ron"),
            ]
        ),
        (
            name: "Load",
            triggers: [SensorAbove(sensor: 0, temperature: 34)],
            transient: true,
            strip_profiles: [
                (device: "Commander PRO", channel: 0, indices: Range(0, 28), effect: "temperature_warm.ron"),
                (device: "Commander PRO", channel: 0, indices: Range(0, 28), effect: "rotation.ron"),
                (device: "Commander PRO", channel: 1, indices: Range(0, 12), effect: "temperature_warm.ron"),
                (device: "Commander PRO", channel: 1, indices: Range(0, 12), effect: "temperature_overlay.ron"),
                (device: "Lighting Node CORE", channel: 0, indices: Ranges([(10, 34), (44, 68), (78, 102)]), effect: "temperature_warm.ron"),
                (device: "Lighting Node CORE", channel: 0, indices: Range(0, 4), effect: "rainbow.ron"),
                (device: "Lighting Node CORE", channel: 0, indices: Range(34, 38), effect: "rainbow.ron"),
                (device: "Lighting Node CORE", channel: 0, indices: Range(68, 72), effect: "rainbow.ron"),
                (device: "Lighting Node CORE", channel: 0, indices: Range(10, 22), effect: "rotation.ron"),
                (device: "Lighting Node CORE", channel: 0, indices: Range(22, 34), effect: "rotation2.ron"),
                (device: "Lighting Node CORE", channel: 0, indices: Range(44, 56), effect: "rotation.ron"),
                (device: "Lighting Node CORE", channel: 0, indices: Range(56, 68), effect: "rotation2.ron"),
                (device: "Lighting Node CORE", channel: 0, indices: Range(78, 90), effect: "rotation.ron"),
                (device: "Lighting Node CORE", channel: 0, indices: Range(90, 102), effect: "rotation2.ron"),
            ]
        ),
    ],
    fan_profiles: [
        (
            name: "Silent",
            triggers: [
                SensorBelow(sensor: 0, temperature: 32.0)
            ],
            fans: [
                (device: "Commander PRO", channel: 1, config: Pwm(0.20)), // case fans
                (device: "Commander PRO", channel: 2, config: Pwm(0.25)), // pump
                (device: "Commander PRO", channel: 3, config: Pwm(0.25)), // top rad fans
                (device: "Commander PRO", channel: 4, config: Pwm(0)), // bottom rad fan 1
                (device: "Commander PRO", channel: 5, config: Pwm(0)), // bottom rad fan 2
            ]
        ),
        (
            name: "Heavy load",
            triggers: [
                SensorAbove(sensor: 0, temperature: 34.0)
            ],
            fans: [
                (device: "Commander PRO", channel: 1, config: Pwm(0.50)), // case fans
                (device: "Commander PRO", channel: 2, config: Pwm(1.00)), // pump

                // radiator fans
                (device: "Commander PRO", channel: 3, config: Curve(0, ((temp: 28, rpm: 750), (temp: 33, rpm: 905), (temp: 40, rpm: 1120), (temp: 46, rpm: 1600), (temp: 52, rpm: 3000), (temp: 53, rpm: 3000)))),
                (device: "Commander PRO", channel: 4, config: Curve(0, ((temp: 28, rpm: 750), (temp: 33, rpm: 905), (temp: 40, rpm: 1120), (temp: 46, rpm: 1600), (temp: 52, rpm: 3000), (temp: 53, rpm: 3000)))),
                (device: "Commander PRO", channel: 5, config: Curve(0, ((temp: 28, rpm: 750), (temp: 33, rpm: 905), (temp: 40, rpm: 1120), (temp: 46, rpm: 1600), (temp: 52, rpm: 3000), (temp: 53, rpm: 3000)))),
            ]
        )
    ],
)